@charset "utf-8";

main, header, footer, article{
    
    border: 1px solid gray;
    padding: 5px;
}

main{
    
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

table, th, td{
    
    border: 1px solid black;
}

table{
    
    width: 100%;
    background-color: orange;
}